@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    background-color: #FDFDFD;
    height: 100%;
}

.page {
    background-image: url('/assets/images/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
